
body {
  padding: 50px;
  font-family: 'Common Pixel', sans-serif;
  color:aliceblue;
  background-image: url(../images/background.png) ;
}

input[type=submit]{
  font-family: 'Common Pixel', sans-serif;
}

input[type=button]{
  font-family: 'Common Pixel', sans-serif;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: #00B7FF;
}

.warning {
  color: lightgreen;
  font-size: larger;
  font-family: 'Common Pixel', sans-serif;
}

#matches, #scores {
  display: flex;
  font-family: 'Common Pixel', sans-serif;
  flex-wrap: wrap;
  justify-content: space-around;
}

#matches section, #scores section {
  background-color: crimson;
  font-family: 'Common Pixel', sans-serif;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
}

#scores td {
  padding: 5px 20px;
  font-family: 'Common Pixel', sans-serif;
}

/* Game CSS*/
button.game {
  font-size: 1.5em;
  font-family: 'Common Pixel', sans-serif;
  background-color: #be0b0b;
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

